<div class="tab-pane active" id="profile">
  <h5 class="mb-3">Thông Tin Của Bạn</h5>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-shopping">
        <tbody>
        <tr>
          <td><span>Tên : </span></td>
          <td><span>{{user.name}}</span></td>
        </tr>
        <tr>
          <td>Tuổi :</td>
          <td><span>{{user.age}}</span></td>
        </tr>
        <tr>
          <td>Giới Tính  :</td>
          <td><span>{{user.gender}}</span></td>
        </tr>
        <tr>
          <td>Địa Chỉ  :</td>
          <td><span>{{user.address}}</span></td>
        </tr>
        <tr>
          <td>Số Điện Thoại :</td>
          <td><span>{{user.phone}}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--/row-->
</div>
