<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<app-nav-bar >

</app-nav-bar>
<img src="../../assets/home-page/images/courses_background.jpg">
<div class="blue-grey center ">
  <div class="nav-wrapper">
  </div>
</div>
<div class="container">
  <div id="quiz">
    <h4><i class="material-icons">usb</i>{{practice.name}}<span class="time"><i class="material-icons">timer</i>{{displayTimeElapsed()}}</span></h4>
    <hr/>
    <div class="row" *ngIf="questions.length > 0; else notData">
      <div class="col s8 offset-s1">
        <div  class="card blue-grey darken-1" *ngFor="let question of questions | paginate: {currentPage: page, itemsPerPage: 1}; let i = index">
          <div class="card-content white-text ">
            <span><i class="material-icons">wb_incandescent </i> Question {{page}} of {{questions.length}}</span>
            <h3 class="font-weight-normal">
              <span class="card-title">{{question.name}}</span>
            </h3>
          </div>
          <div class="row ml-4">
            <ul class="collection answer col-md-5 ml-4" style="background-color: white" *ngFor="let answer of question.options; let i =index">
              <ng-container >
                <li  class="collection-item" [class.bg-success]="answer.selected" (click)="onSelect(question, answer);" style="color: #0b0b0b;text-align: center "  [attr.for]="answer.id">
                  {{alphabet[i]}}. {{answer.name}}
                </li>
              </ng-container>
            </ul>
          </div>

        </div>
      </div>

    </div>
    <ng-template #notData>
      Không có câu hỏi nào cho bài thi này!
    </ng-template>
    <hr/>
    <div class="text-center">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

    <div class="row text-center">
      <div class="col-4 cursor-pointer">
      </div>
      <button *ngIf="page == questions.length" (click)="onSubmit()" class="btn btn-primary">Submit Practice</button>
    </div>
    <a (click)="goBack()" style="cursor: pointer"><i class="material-icons">replay</i>back</a>
  </div>
</div>
</body>
</html>

