<div class="tab-pane">
  <form [formGroup]="password" (ngSubmit)="changePassword()">
    <div class="form-group row">
      <div class="col-lg-6">
          <input type="password" class="col-12" id="oldPassword" placeholder="Mật Khẩu Hiện Tại"
                 formControlName="oldPassword">
        <label class="text-danger col-12 mt-2" for="oldPassword" *ngIf="validators.hasOwnProperty('oldPassword')">
          *{{validators.oldPassword[0]}}
        </label>
      </div>

      <div></div>
    </div>
    <div class="form-group row">
      <div class="col-lg-6">
          <input type="password" class="col-12" id="newPassword"  placeholder="Mật Khẩu Mới "
                 formControlName="newPassword">
        <label class="text-danger col-12 mt-2" for="newPassword" *ngIf="validators.hasOwnProperty('newPassword')">
          *{{validators.newPassword[0]}}
        </label>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-lg-6">

          <input class="col-12" type="password" id="passwordConfirm" placeholder="Xác Nhận Mật khẩu mới"
                 formControlName="passwordConfirm">
        <label class="text-danger col-12 mt-2" for="passwordConfirm"
               *ngIf="validators.hasOwnProperty('passwordConfirm')">
          *{{validators.passwordConfirm[0]}}
        </label>
        <label class="text-danger" *ngIf="message">
          *{{message}}
        </label>
      </div>
    </div>

    <div class="form-group ml-3">
      <button class="btn btn-primary btn-sm">Lưu thay đổi</button>
    </div>
  </form>
</div>
