<div class="card">
  <h5 class="card-header">Trang quản lý người dùng</h5>
  <div class="card-body">
    <div class="table-responsive">

      <table class="table">
        <thead class="text-primary">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên người dùng</th>
          <th scope="col">Chức vụ</th>
          <th scope="col">Luyện tập</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{user.name}}</td>
          <td>{{user.role.name}}</td>
          <td><a [routerLink]="['/admin/dashboard/users',user.id]">Đã xong</a></td>
        </tr>
        </tbody>
      </table>


    </div>

  </div>
</div>
