<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Chỉnh sửa Unit</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group col-md-12">
                      <label>Số thứ tự:</label>
                      <input [class.is-invalid]="validators.hasOwnProperty('order')" type="number" formControlName="order"
                             class="form-control mb-2">
                      <div *ngIf="validators.hasOwnProperty('order')"
                           class="alert alert-danger">{{validators.order}}</div>
                      <label>Tên Unit:</label>
                      <input [class.is-invalid]="validators.hasOwnProperty('name')" type="text" formControlName="name"
                             class="form-control mb-2">
                      <div *ngIf="validators.hasOwnProperty('name')"
                           class="alert alert-danger">{{validators.name}}</div>
                      <label>Tên tiếng Việt:</label>
                      <input [class.is-invalid]="validators.hasOwnProperty('name_vi')" type="text" formControlName="name_vi"
                             class="form-control mb-2">
                      <div *ngIf="validators.hasOwnProperty('name_vi')"
                           class="alert alert-danger">{{validators.name_vi}}</div>
                      <label>Ảnh: </label>
                      <br>
                      <input type="file" (change)="changeImage($event.target.files)">
                    </div>
                    <div class="form-group col-md-12">
                      <button class="btn btn-primary btn-sm">Sửa</button>
                      <a class="btn btn-danger btn-sm ml-2" routerLink="/admin/dashboard/units"> Trở Về</a>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <img style="max-width: 400px" [attr.src]=" 'http://localhost:8000/api/' + unit.image" id="image" alt="">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
