<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Trang quản lý danh mục</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <button *ngIf="authorization.canCreate()" class="btn btn-primary btn-sm mb-2" routerLink="create">Thêm danh mục</button>
              <table class="table">
                <thead class=" text-primary">
                <th>STT</th>
                <th>Tên danh mục</th>
                <th>Tên tiếng Việt</th>
                <th>Ảnh</th>
                <th></th>
                </thead>
                <tbody *ngIf="units.length>0;else notdata">
                <tr *ngFor="let unit of units | paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
                  <td>{{i + 1}}</td>
                  <td>{{unit.name}}</td>
                  <td>{{unit.name_vi}}</td>
                  <td><img *ngIf="unit.image" style="max-width: 200px" [attr.src]=" 'http://localhost:8000/api/' + unit.image" alt=""></td>
                  <td>
                    <button *ngIf="authorization.canEditor()" class="btn btn-primary btn-sm mr-3" [routerLink]="[unit.id,'edit']"><i class=" fa fa-edit"></i></button>
                    <button *ngIf="authorization.canDelete()" type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#exampleModal +"
                            [attr.data-target]="'#delete'+unit.id"
                    >
                      <i class="fa fa-trash"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="delete{{unit.id}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-warning" id="exampleModalLabel">Cảnh báo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Bạn có chắc chắn muốn xóa danh mục này ?.
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở Về</button>
                            <button type="button" (click)="delete(unit.id)" data-dismiss="modal" class="btn btn-danger">Xóa</button>
                          </div>
                        </div>
                      </div>
                    </div></td>
                </tr>
                </tbody>
                <ng-template #notdata>
                  <tr>
                    <td style="text-align: center" colspan="3">Không có dữ liệu</td>
                  </tr>
                </ng-template>
              </table>
            </div>
          </div>
          <ul>
            <li> ...</li>
          </ul>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

