<!DOCTYPE html>
<html lang="en">
<head>
  <title>Course - Contact</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Course Project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../assets/home-page/styles/bootstrap4/bootstrap.min.css">
  <link href="../../assets/home-page/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../../assets/home-page/styles/contact_styles.css">
  <link rel="stylesheet" type="text/css" href="../../assets/home-page/styles/contact_responsive.css">
</head>
<body>

<div class="super_container">

  <app-nav-bar></app-nav-bar>
  <!-- Menu -->
  <div class="menu_container menu_mm">

    <!-- Menu Close Button -->
    <div class="menu_close_container">
      <div class="menu_close"></div>
    </div>

    <!-- Menu Items -->
    <div class="menu_inner menu_mm">
      <div class="menu menu_mm">
        <ul class="menu_list menu_mm">
          <li class="menu_item menu_mm"><a href="index.html">Home</a></li>
          <li class="menu_item menu_mm"><a href="#">About us</a></li>
          <li class="menu_item menu_mm"><a href="courses.html">Courses</a></li>
          <li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>
          <li class="menu_item menu_mm"><a href="news.html">News</a></li>
          <li class="menu_item menu_mm"><a href="#">Contact</a></li>
        </ul>

        <!-- Menu Social -->

        <div class="menu_social_container menu_mm">
          <ul class="menu_social menu_mm">
            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>

      </div>

    </div>

  </div>

  <!-- Home -->

  <div class="home">
    <div class="home_background_container prlx_parent">
      <div class="home_background prlx" style="background-image:url(../../assets/home-page/images/news_background.jpg)"></div>
    </div>
    <div class="home_content">
      <h1>Contact</h1>
    </div>
  </div>

  <!-- Contact -->

  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <!-- Contact Form -->
          <div class="contact_form">
            <div class="contact_title">Get in touch</div>

            <div class="contact_form_container">
              <form [formGroup]="contactForm">
                <input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
                <input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
                <textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                <button id="contact_send_btn" type="button" class="contact_send_btn trans_200" value="Submit">send message</button>
              </form>
            </div>
          </div>

        </div>

        <div class="col-lg-4">
          <div class="about">
            <div class="about_title">VT Kiên</div>
            <p class="about_text" style="color: black">Hello mấy cưng!</p>

            <div class="contact_info">
              <ul>
                <li class="contact_info_item">
                  <div class="contact_info_icon">
                    <img src="../../assets/home-page/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  số 1 Phố Quang Trung
                </li>
                <li class="contact_info_item">
                  <div class="contact_info_icon">
                    <img src="../../assets/home-page/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  +84306546132065
                </li>
                <li class="contact_info_item">
                  <div class="contact_info_icon">
                    <img src="../../assets/home-page/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>Vinhdz@gmail.com
                </li>
              </ul>
            </div>

          </div>
        </div>

      </div>

      <!-- Google Map -->

    </div>
  </div>

  <!-- Footer -->

  <footer class="footer">
    <div class="container">

      <!-- Newsletter -->


      <!-- Footer Content -->

      <div class="footer_content">
        <div class="row">

          <!-- Footer Column - About -->
          <div class="col-lg-3 footer_col">

            <!-- Logo -->
            <div class="logo_container">
              <div class="logo">
                <img src="../../assets/home-page/images/logo.png" alt="">
                <span>course</span>
              </div>
            </div>

            <p class="footer_about_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum, tempor lacus.</p>

          </div>

          <!-- Footer Column - Menu -->

          <div class="col-lg-3 footer_col">
            <div class="footer_column_title">Menu</div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_list_item"><a href="index.html">Home</a></li>
                <li class="footer_list_item"><a href="#">About Us</a></li>
                <li class="footer_list_item"><a href="courses.html">Courses</a></li>
                <li class="footer_list_item"><a href="news.html">News</a></li>
                <li class="footer_list_item"><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <!-- Footer Column - Usefull Links -->

          <div class="col-lg-3 footer_col">
            <div class="footer_column_title">Usefull Links</div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_list_item"><a href="#">Testimonials</a></li>
                <li class="footer_list_item"><a href="#">FAQ</a></li>
                <li class="footer_list_item"><a href="#">Community</a></li>
                <li class="footer_list_item"><a href="#">Campus Pictures</a></li>
                <li class="footer_list_item"><a href="#">Tuitions</a></li>
              </ul>
            </div>
          </div>

          <!-- Footer Column - Contact -->

          <div class="col-lg-3 footer_col">
            <div class="footer_column_title">Contact</div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="../../assets/home-page/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  Blvd Libertad, 34 m05200 Arévalo
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="../../assets/home-page/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  0034 37483 2445 322
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="../../assets/home-page/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>hello@company.com
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- Footer Copyright -->

    </div>
  </footer>

</div>

<script src="../../assets/home-page/js/jquery-3.2.1.min.js"></script>
<script src="../../assets/home-page/styles/bootstrap4/popper.js"></script>
<script src="../../assets/home-page/styles/bootstrap4/bootstrap.min.js"></script>
<script src="../../assets/home-page/plugins/greensock/TweenMax.min.js"></script>
<script src="../../assets/home-page/plugins/greensock/TimelineMax.min.js"></script>
<script src="../../assets/home-page/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../../assets/home-page/plugins/greensock/animation.gsap.min.js"></script>
<script src="../../assets/home-page/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../../assets/home-page/plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="../../assets/home-page/plugins/easing/easing.js"></script>
<script src="../../assets/home-page/js/contact_custom.js"></script>

</body>
</html>
