
<!doctype html>
<html>
<head>
  <title>Official Signup Form Flat Responsive widget Template :: w3layouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords"
        content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
  <script type="application/x-javascript"> addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
      window.scrollTo(0, 1);
  } </script>
  <!-- fonts -->
  <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <!-- /fonts -->

  <!-- css -->
  <link href="../../../assets/form-register/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="../../../assets/form-register/css/style.css" rel='stylesheet' type='text/css' media="all"/>
  <!-- /css -->
</head>
<body>
<h1 class="w3ls">Official Signup Form</h1>
<div class="content-w3ls">
  <div class="content-agile1">
    <h2 class="agileits1">Official</h2>
    <p class="agileits2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="content-agile2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group col-md-9" style="margin: auto">
        <input autofocus type="text" id="name" formControlName="name" class="form-control input" placeholder="Name">
        <label class="alert alert-danger" for="name" *ngIf="validators.hasOwnProperty('name')">
          {{validators.name[0]}}
        </label>
      </div>
      <div class="form-group col-md-9 mt-2" style="margin: auto">
        <input type="password" class="form-control input" id="password" formControlName="password" placeholder="password">
        <label class="alert alert-danger" for="password" *ngIf="validators.hasOwnProperty('password')">
          {{validators.password[0]}}
        </label>
      </div>
      <div class="form-group col-md-9 mt-2" style="margin: auto">
        <input type="password" class="form-control input" id="passwordConfirm" formControlName="passwordConfirm" placeholder="confirm password">
        <label class="alert alert-danger" for="passwordConfirm" *ngIf="validators.hasOwnProperty('passwordConfirm')">
          {{validators.passwordConfirm[0]}}
        </label>
      </div>
      <input type="submit" class="register" value="Register">
    </form>
    <p class="wthree w3l">Fast Signup With Your Favourite Social Profile</p>
    <ul class="social-agileinfo wthree2">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<p class="copyright w3l">© 2017 Official Signup Form. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                                                                                         target="_blank">W3layouts</a>
</p>
</body>
</html>
