<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Chi Tiết Câu Hỏi</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="row">
                <div class="form-group col-md-5">
                  <label>Tên Câu Hỏi:</label>
                  <p>{{question.content}}</p>
                </div>
                <div class="col-md-7 ">
                  <label>Câu Trả Lời:</label>
                  <table class="table">
                    <tr>
                      <th>Nội dung</th>
                      <th>Kết quả</th>
                    </tr>
                    <tbody >
                    <tr *ngFor="let answer of answers, let i = index">
                      <td >{{answer.content}}</td>

                      <td *ngIf="answer.correct;else wrong ">Đúng</td>
                      <ng-template #wrong><td>Sai</td></ng-template>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="form-group col-md-12">
                  <a class="btn btn-primary btn-sm" [routerLink]="['/admin/dashboard/question/edit/', id]">Chỉnh Sửa</a>
                  <a class="btn btn-danger btn-sm ml-2" routerLink="/admin/dashboard/question"> Trở Về</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
